@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #71c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    border-radius: 10px;
    width: 550px;
    padding: 24px;
}

.todo-header {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    padding-left: 5px;
    align-items: center;
}

.todo-header h2 {
    margin-bottom: 0;
    padding-right: 10px;
    align-items: center;
}

.todo-body {
    display: flex;
    align-items: center;
    background: #edeef0;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 24px;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0px;
    font-size: 20px;
}

.todo-body i {
    cursor: pointer;
}

.todo-alert {
    text-align: center;
    color: green;
    margin-bottom: 10px;
}

ul {
    padding-left: 0;
}

ul li {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}